<header class="header oxanium">
  <div class="header-data__content">
    <div class="header-data">
      <p>(19) 99172-3702</p>
      <span>|</span>
      <a href="">Administrativo</a>
    </div>
  </div>

  <nav>
    <a>
      <img src="/logo.svg" alt="Logo Léo Oficina Mecânica" />
    </a>

    <ul class="nav-links">
      <li>
        <a href="/">Home</a>
      </li>

      <li>
        <a href="">Serviços</a>
      </li>

      <li>
        <a href="">Sobre</a>
      </li>

      <li>
        <a href="">Contato</a>
      </li>
    </ul>

    <div class="cta-container">
      <a href="" class="cta">Solicite um orçamento</a>
    </div>
  </nav>
</header>
