<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/global.css" />
    <title>Página Inicial - Léo Oficina Mecânica</title>
  </head>

  <body>
    <%- include('../partials/header') %>

    <div class="container">
      <div class="wrapper oxanium">
        <h1>
          Profissionais em manutenção
          <span>e reparo de automóveis</span>
        </h1>

        <div class="hero">
          <div class="hero-text">
            <p>
              Estamos focados em fornecer aos nossos clientes o mais alto nível
              de qualidade e excelente suporte ao cliente.
            </p>

            <div class="hero-cta">
              <a href="" class="cta">Solicite um orçamento</a>
            </div>
          </div>

          <div class="hero-img">
            <img src="/hero.svg" alt="Hero Image" />
          </div>
        </div>

        <div class="services">
          <h2>Serviços</h2>

          <div class="services-list">
            <div class="services-list__item">
              <h3>Checagem de performance</h3>

              <div>
                <p class="dm-sans">
                  A verificação de desempenho é um serviço oferecido por muitas
                  oficinas automotivas. Trata-se de uma série de testes e
                  verificações realizados em um carro para garantir que ele
                  esteja funcionando em sua melhor condição. As verificações
                  podem incluir diagnósticos do motor, inspeções da suspensão e
                  direção, alinhamento das rodas e mais.
                </p>

                <div class="services-cta">
                  <a href="" class="cta">Saiba mais</a>
                </div>
              </div>
            </div>

            <div class="services-list__item">
              <h3>Reparos</h3>

              <div>
                <p class="dm-sans">
                  When it comes to car services, there are a few different types
                  that you can choose from. Each type of service has its own
                  benefits and drawbacks, so it’s important to choose the right
                  one for your needs. Here are a few of the most common types of
                  car services
                </p>

                <div class="services-cta">
                  <a href="" class="cta">Saiba mais</a>
                </div>
              </div>
            </div>

            <div class="services-list__item">
              <h3>Manutenção de frota</h3>

              <div>
                <p class="dm-sans">
                  Quando você precisa fazer a manutenção da sua frota de
                  veículos, você quer encontrar uma empresa que possa fazer o
                  trabalho de forma rápida e eficiente. Somos um fornecedor
                  líder de serviços de manutenção e reparo de frotas, e estamos
                  prontos para ajudar você a manter seus veículos na estrada.
                </p>

                <div class="services-cta">
                  <a href="" class="cta">Saiba mais</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="about">
          <h2>Sobre</h2>
        </div>
      </div>
    </div>

    <%- include('../partials/footer') %>

    <script src="scripts/main.js"></script>
  </body>
</html>
